<odoo>
    <data>
        <!-- Top menu item -->
    <menuitem name="Shop App" id="shop_app.menu_root"/>

    <!-- menu categories -->
    <menuitem name="Operations" id="shop_app.menu_operation" parent="shop_app.menu_root"/>

    <!-- actions -->
    <menuitem name="Clients" id="shop_app.menu_client_list" parent="shop_app.menu_operation" action="shop_app.action_window_client"/>
    <menuitem name="Employe" id="shop_app.menu_employe_list" parent="shop_app.menu_operation" action="shop_app.action_window_employe"/>
    <menuitem name="Products" id="shop_app.menu_product_list" parent="shop_app.menu_operation" action="shop_app.action_window_product"/>
    <menuitem name="Invoice" id="shop_app.menu_invoice_list" parent="shop_app.menu_operation" action="shop_app.action_window_invoice"/>
    </data>
</odoo>